#footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #303c6c;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 3rem;
  position: fixed;
}

.githubLink {
  color: white;
  text-decoration: none;
}

.githubLink:hover {
  text-decoration: underline;
}

.githubIcon {
  width: 9vh;
}


